<ion-view view-title="Batalla de desafíos">
  <ion-content class="padding">
    <button class="button button-block button-balanced" ng-click="MisDesafios()">Mis desafíos</button>
    <button class="button button-block button-balanced" ng-click="VerDesafios()">Ver desafíos</button>
    <button class="button button-block button-balanced" ng-click="CrearDesafio()">Crear desafío</button>
    <button class="button button-block button-balanced" ng-click="IrATienda()">Obtener créditos</button>
    <button class="button button-block button-balanced" ng-click="VerRanking()">Ranking</button>
    <button class="button button-block button-balanced" ng-click="About()">Sobre Nosotros</button>
  </ion-content>
</ion-view>
