<ion-view view-title="Batalla naval">

	<ion-content class="padding">
		<div ng-show="desafio">
			<h1>Turno {{turno}}</h1>
			<div ng-show="desafio.turnos_usuario">
			<p>{{desafio.usuario}}: {{estado.creador}}</p>
			<p>{{desafio.rival}}: {{estado.retador}}</p>
			</div>
			{{es_turno_activo}}

			<h1>Rival</h1>
			<table class="table-position rival">
				<tr ng-repeat="i in batalla_cols">
			    	<td ng-repeat="j in batalla_rows"
			        ng-class="[{'barco':tiros_rival.indexOf(i+j) !== -1 && puntos_activo[i+j], 
			        			'agua':tiros_rival.indexOf(i+j) !== -1 && !puntos_activo[i+j]
			        		  }]">
			        	{{ tiros_rival.indexOf(i+j) !== -1 && puntos_activo[i+j] ? puntos_activo[i+j] : i+j }}
			        </td>
				</tr>
			</table>

			<h1>Tu juego</h1>
			<table class="table-position">
				<tr ng-repeat="i in batalla_cols">
			    	<td ng-repeat="j in batalla_rows" ng-click="selectPosition(i, j)"
			        ng-class="[{'ts-li-selected' : userSelected(i,j), 
			        			'panel-disabled': !es_turno_activo, 
			        			'barco':tiros_activo.indexOf(i+j) !== -1 && puntos_rival[i+j], 
			        			'agua':tiros_activo.indexOf(i+j) !== -1 && !puntos_rival[i+j]
			        		  }]">
			        	{{ tiros_activo.indexOf(i+j) !== -1 && puntos_rival[i+j] ? puntos_rival[i+j] : i+j }}
			        </td>
				</tr>
			</table>
			<!--
			Jugabilidad:
			-
			-->

			<button class="button button-block button-balanced" ng-click="EnviarAtaque()" ng-disabled="!jugada" ng-hide="!es_turno_activo">Enviar coordenadas</button>
		</div>
		<div ng-show="!desafio">
			<ion-spinner></ion-spinner>
		</div>
	</ion-content>
</ion-view>