<ion-nav-buttons side="left">
        <button ng-click="toggleLeft()" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
   <ion-header-bar align-title="left" class="item-input-inset">
    <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search">
    </label>
    </ion-header-bar>
<ion-view view-title="Desafío">

  <ion-content class="padding">
  	<div class="tarjeta">
	  	<h1>{{item.nombre}}</h1>
	  	<p><b>Usuario creador: </b>{{item.usuario}}</p>
	  	<p ng-if="desafio.rival"><b>Usuario rival: </b>{{desafio.rival}}</p>
	  	<p><b>Monto apostado: </b>{{item.monto}}</p>

	  	<div ng-if="item.tipo == 'batalla' && item.usuario != usuarioActual">
		  	<input type="number" ng-model="datos.monto" disabled/>
	    	
	    	<input type="number" ng-model="datos.monto_punto" min="10" max="{{datos.monto}}" step="10"/>

			<table class="table-position" >
				<tr ng-repeat="i in datos.batalla_cols">
			    	<td ng-repeat="j in datos.batalla_rows" ng-click="selectPosition(i, j)"
			        ng-class="[{'ts-li-selected' : userSelected(i,j)}]">{{ i+j }}</td>
				</tr>
			</table>
	  	</div>

	  	<div ng-if="item.tipo == 'batalla' && item.usuario == usuarioActual">
			<table class="table-position" >
				<tr ng-repeat="i in datos.batalla_cols">
			    	<td ng-repeat="j in datos.batalla_rows" ng-click="selectPosition(i, j)"
			        ng-class="[{'ts-li-selected' : wasSelected(i,j)}]">{{ i+j }}</td>
				</tr>
			</table>
	  	</div>

	  	<div ng-if="item.tipo == 'apuesta' && item.usuario != usuarioActual && !item.eleccion_rival">
	  		<label name="Tu elección:"/>
	  		<input type="number" ng-model="desafio.eleccion_rival" style="border:1px solid grey"/>
	  	</div>

	  	<div ng-if="desafio.tipo == 'apuesta' && desafio.usuario == usuarioActual && desafio.estado == 'pendiente'">
	  		<label>Resultado</label>
	  		<input type="number" name="resultado" ng-model="desafio.resultado" />

	  		<button class="button button-block button-balanced" ng-click="actualizar()"
	  			ng-disabled="!desafio.resultado">
	  			Finalizar
	  		</button>
	  	</div>

		<button class="button button-block button-balanced" ng-click="desafiar()" 
				ng-disabled="(item.tipo == 'apuesta' && 
									(desafio.eleccion_rival == '' || desafio.eleccion_rival == null)) || 
							(item.tipo == 'batalla' && btnEnviarDisabled)" 
				ng-if="(item.tipo == 'batalla' && item.usuario != usuarioActual) || 
						(item.tipo == 'apuesta' && item.usuario != usuarioActual && !item.eleccion_rival)">
				Desafiar
		</button>	


		<div ng-if="item.tipo == 'apuesta'">
	  		<p><b>Descripción: <b/> {{desafio.descripcion}}</p>
	  		<p ng-if="desafio.usuario == usuarioActual"><b>Tu apuesta: </b> {{desafio.eleccion_usuario}}</p>
	  		<p ng-if="desafio.usuario != usuarioActual && desafio.eleccion_rival"><b>Tu apuesta: </b> {{desafio.eleccion_rival}}</p>
	  		<p ng-if="desafio.usuario == usuarioActual && desafio.eleccion_rival"><b>Apuesta del rival: </b> {{desafio.eleccion_rival}}</p>
	  		<p ng-if="desafio.usuario != usuarioActual"><b>Apuesta del rival: </b> {{desafio.eleccion_usuario}}</p>

	  	</div>

  	</div>
  </ion-content>
</ion-view>
