<ion-view view-title="Zona de Desafíos">
  <ion-content class="padding">
  	<div class="list" ng-repeat="desafio in listaDeDesafios">
  		<div class="item item-avatar" ng-class="[{bgbatalla: desafio.tipo == 'batalla'}, {bgapuesta: desafio.tipo == 'apuesta'}]" ng-click="verDesafio(desafio)">
        <img src="img/swords.png" ng-if="desafio.tipo == 'batalla'">
        <img src="img/treasure.png" ng-if="desafio.tipo == 'apuesta'">
  			<div><h2>{{desafio.nombre}}</h2>
  			<p>{{desafio.usuario}}</p>
  			<div class="monto">{{desafio.monto}}</div></div>
  		</div>
	</div>
  </ion-content>
</ion-view>
